Repository swashcap/phtn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, shellcheck

fix: change sed command based on CLI flavor
  scripts/version.sh
Due: shellcheck

fix: add clean to prepub script
  package.json
Due: none

chore: add debugging output to docs script
  scripts/docs.sh
Due: shellcheck

ci: 1.1.2 [skip ci]
  dist/phtn.css
  package.json
Due: none

refactor: emit metadata from build.sh
  scripts/build.sh
  scripts/version.sh
Due: shellcheck

refactor: drop docs from prepublishOnly script
  package.json
Due: none

fix: add docs generation to semantic-release
  .releaserc
Due: none

chore: drop backup files
  dist/phtn.css=
  dist/phtn.min.css=
Due: none

ci: 1.1.3 [skip ci]
  dist/phtn.css
  docs/index.html
  docs/item-element-background.html
  docs/item-element-border.html
  docs/item-element-display.html
  docs/item-element.html
  docs/item-layout-flexbox.html
  docs/item-layout-float.html
  docs/item-layout.html
  docs/item-spacing-margin.html
  docs/item-spacing.html
  docs/item-text-align.html
  docs/item-text-color.html
  docs/item-text-decoration.html
  docs/item-text-size.html
  docs/item-text-style.html
  docs/item-text-weight.html
  docs/item-text.html
  docs/kss-assets/WARNING.txt
  docs/kss-assets/github-fork--black.png
  docs/kss-assets/kss-fullscreen.js
  docs/kss-assets/kss-guides.js
  docs/kss-assets/kss-markup.js
  docs/kss-assets/kss.css
  docs/kss-assets/kss.js
  docs/kss-assets/kss.scss
  docs/kss-assets/noise-low.png
  docs/kss-assets/phtn.min.css
  docs/kss-assets/sample-inline.png
  docs/kss-assets/sample-inline.svg
  docs/kss-assets/sample.png
  docs/kss-assets/sample.svg
  docs/kss-assets/scrollspy.js
  docs/section-element.html
  docs/section-layout.html
  docs/section-spacing.html
  docs/section-text.html
  package.json
Due: yarn format

chore: provide custom styleguide name
  scripts/docs.sh
Due: shellcheck

chore: generate kss-node builder
  styleguide-template/builder.js
  styleguide-template/extend/hljs.js
  styleguide-template/index.hbs
  styleguide-template/kss-assets/WARNING.txt
  styleguide-template/kss-assets/github-fork--black.png
  styleguide-template/kss-assets/kss-fullscreen.js
  styleguide-template/kss-assets/kss-guides.js
  styleguide-template/kss-assets/kss-markup.js
  styleguide-template/kss-assets/kss.css
  styleguide-template/kss-assets/kss.js
  styleguide-template/kss-assets/kss.scss
  styleguide-template/kss-assets/noise-low.png
  styleguide-template/kss-assets/sample-inline.png
  styleguide-template/kss-assets/sample-inline.svg
  styleguide-template/kss-assets/sample.png
  styleguide-template/kss-assets/sample.svg
  styleguide-template/kss-assets/scrollspy.js
  styleguide-template/package-lock.json
  styleguide-template/package.json
Due: yarn format

docs: wire up custom builder
  scripts/docs.sh
Due: shellcheck

feat: customize styleguide
  package.json
  scripts/docs.sh
  styleguide-template/builder.js
  styleguide-template/index.hbs
  styleguide-template/kss-assets/WARNING.txt
  styleguide-template/kss-assets/github-fork--black.png
  styleguide-template/kss-assets/kss-guides.js
  styleguide-template/kss-assets/kss-markup.js
  styleguide-template/kss-assets/kss.css
  styleguide-template/kss-assets/kss.scss
  styleguide-template/kss-assets/noise-low.png
  styleguide-template/kss-assets/sample-inline.png
  styleguide-template/kss-assets/sample-inline.svg
  styleguide-template/kss-assets/sample.png
  styleguide-template/kss-assets/sample.svg
  styleguide-template/package-lock.json
  styleguide-template/package.json
  yarn.lock
Due: yarn format, shellcheck

docs: add KSS dockblocks
  src/element.css
  src/layout.css
  src/spacing.css
  src/text.css
Due: yarn format

feat: add list reset style
  src/element.css
Due: yarn format

feat: add border classes
  src/element.css
Due: yarn format

refactor: change CSS variable names
  src/element.css
  src/spacing.css
  src/text.css
  src/variables.css
Due: yarn format

feat: add color variables
  src/element.css
  src/variables.css
Due: yarn format

docs: add variables documentation
  src/variables.css
Due: yarn format

refactor: change base spacing unit
  src/text.css
  src/variables.css
Due: yarn format

refactor: change border-radius variable
  src/variables.css
Due: yarn format

refactor: change `px` to `em`
  src/text.css
Due: yarn format

chore: add watch command
  package.json
  yarn.lock
Due: none

feat: add 4, 5, and 6 spacing
  src/spacing.css
Due: yarn format

refactor: change font sizes to `rem` units
  src/text.css
Due: yarn format

fix: trim whitespace after CSS variable declaration
  scripts/build.sh
Due: shellcheck

feat: add opinions styles
  scripts/build.sh
  src/opinions.css
Due: yarn format, shellcheck

feat: re-style docs
  scripts/docs.sh
  styleguide-template/extend/index.js
  styleguide-template/index.hbs
  styleguide-template/kss-assets/kss.css
  styleguide-template/kss-assets/kss.scss
Due: yarn format, shellcheck

Path conditions:
  yarn format: any of: {*.js,src/*.css}
  shellcheck: any of: scripts/**/*.sh
